<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SqlServerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbrefactor_tests;Integrated Security=SSPI"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
